<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Student Management</title>
</head>

<body>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-800">
        <div class="container flex flex-wrap justify-between items-center mx-auto">

            <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
                <ul class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    <li>
                        <a href="#"
                            class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white"
                            aria-current="page">Student Management System</a>
                    </li>
                    <li>
                        <a th:href="@{/students}"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Home</a>
                    </li>
                    <li>
                        <a th:href="@{/students/new}"
                            class="block py-2 pr-4 pl-3 text-gray-700 border-b border-gray-100 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">Add
                            student</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container mx-auto p-1">
        <div class="flex flex-col justify-center">

            <h1 class="font-bold underline text-center text-2xl mb-4">Add a student</h1>
            <div class="mx-auto">
                <div class="mb-4">
                    <a th:href="@{/students/new}"
                        class="text-white bg-blue-200 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 w-20">Add</a>
                </div>
            </div>

            <h1 class="font-bold underline text-center text-2xl mb-4">List students</h1>
            <table class="border-collapse border border-slate-500 ...">
                <thead>
                    <tr>
                        <th class="border border-slate-600">Student first name</th>
                        <th class="border border-slate-600">Student Last name</th>
                        <th class="border border-slate-600">Student Email</th>
                        <th class="border border-slate-600">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student: ${students}">
                        <td th:text="${student.firstName}" class="border border-slate-700"></td>
                        <td th:text="${student.lastName}" class="border border-slate-700"></td>
                        <td th:text="${student.email}" class="border border-slate-700"></td>
                        <td class="border border-slate-700">
                            <a th:href="@{students/edit/{id}(id=${student.id})}"
                                class="text-orange-400 underline">Update</a><br>
                            <a th:href="@{students/{id}(id=${student.id})}" class="text-red-700 underline">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>